version: '3.8'

services:
  api:
    build: .
    container_name: growthai_api
    ports:
      - "8000:8000"
    volumes:
      # Mount source code for hot reloading during dev
      - .:/app
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - mlflow

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: growthai_mlflow
    ports:
      - "5000:5000"
    command: mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./mlruns --host 0.0.0.0

